@model IEnumerable<AfpEat.Models.Commande>

@{
    ViewBag.Title = "Historique";
    string isConnected = (Session["Utilisateur"] != null) ? "true" : "false";

}

<section id="HistoriqueUtilisateur" class="container mt-5">
    <div class="row">
        <div class="col-12">
            <h2>Historique</h2>
            @foreach (var commande in Model)
            {
                <h2>@commande.IdCommande, @commande.Prix €, @commande.EtatCommande.Nom</h2>
                <ul>
                    @foreach (var commandeProduit in commande.CommandeProduits)
                    {
                        <li>@commandeProduit.Produit.Nom, @commandeProduit.Quantite, @commandeProduit.Prix €</li>
                    }
                </ul>
            }
        </div>
    </div>
</section>


@section Scripts{
    <script type="text/javascript">

        $(document).ready(function () {

        });
    </script>
}