@model IEnumerable<AfpEat.Models.TypeCuisine>
@{
    ViewBag.Title = "Home Page";
    List<AfpEat.Models.Restaurant> restaurants = ViewBag.Restaurants;
}

<section id="Home" class="container mt-5">
    <ul class="nav nav-pills  pb-3" id="myTab" role="tablist">
        <li class="nav-item ">
            <a class="nav-link active btn btn-outline-dark" id="typeCuisine-tab" data-toggle="tab" href="#typeCuisine" role="tab" aria-controls="typeCuisine" aria-selected="true">Cuisines</a>
        </li>
        <li class="nav-item ml-2">
            <a class="nav-link btn btn-outline-dark" id="restaurant-tab" data-toggle="tab" href="#restaurant" role="tab" aria-controls="restaurant" aria-selected="false">Restaurants</a>
        </li>
    </ul>

    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="typeCuisine" role="tabpanel" aria-labelledby="typeCuisine-tab">
            <!-- TypeCuisines -->
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
                @foreach (var typeCuisine in Model)
                {
                    <text>
                        <div class="col mb-4">
                            <div class="card border border-0 shadow-lg fadeIn animated contain-hover">
                                <img src="/Images/@typeCuisine.Photo.Nom" height="200" class="card-img-top" alt="...">
                                <div class="carousel-caption">
                                    <a href="#" class="btn btn-lg btn-success fadeIn animated delay-1s">@typeCuisine.Nom</a>
                                </div>
                            </div>
                        </div>
                    </text>
                }
            </div>
        </div>
        <div class="tab-pane fade" id="restaurant" role="tabpanel" aria-labelledby="restaurant-tab">
            <!-- Restaurants -->
            <div class="row row-cols-1">
                @foreach (var restaurant in restaurants)
                {
                    <text>
                        <div class="card border-0 bg-transparent mb-3">
                            <div class="row no-gutters">
                                <div class="col-auto">
                                    <img src="/Images/@restaurant.Photos.First().Nom" alt="" />
                                </div>
                                <div class="col mx-2 bg-white">
                                    <div class="card-block p-2">
                                        <h4 class="card-title text-left">@restaurant.Nom</h4>
                                        <p class="card-text">@restaurant.TypeCuisine.Nom</p>
                                        <p class="card-text">
                                            <ul class="list-group list-group-horizontal ">
                                                @foreach (var categorie in restaurant.ProduitCategories.GroupBy(r => r.Categorie.Nom))
                                                {
                                                    <li class="list-group-item small">@categorie.Key</li>
                                                }
                                            </ul>
                                        </p>
                                        <p class="card-text">
                                            <a href="@Url.Action("Details/"+restaurant.IdRestaurant , "Restaurants")" class="text-right btn btn-outline-danger">Passer une commande</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </text>
                }
            </div>
        </div>
    </div>
</section>