@model IEnumerable<AfpEat.Models.ProduitPanier>

@{
    ViewBag.Title = "Panier";
    string isConnected = (Session["Utilisateur"] != null) ? "true" : "false";

}

<h2>Panier</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdProduit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prix)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantite)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Photo)
        </th>
    </tr>

    @if (Model != null && Model.Count() > 0)
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdProduit)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Prix)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantite)
                </td>
                <td>
                    <img src="/Images/@item.Photo" alt="" />
                </td>
            </tr>
        }
    }
</table>

<button id="btnCommande" class="btn btn-outline-danger">Passer la commande</button>

<div id="ConnexionModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="Matricule">Matricule</label>
                        <input type="text" class="form-control" id="Matricule">
                    </div>
                    <div class="form-group">
                        <label for="Password">Mot de passe</label>
                        <input type="password" class="form-control" id="Password">
                    </div>
                    <button id="btnConnexion" class="btn btn-primary">Envoyer</button>
                </form>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">

    function PasserCommande() {

        var data = { 'idSession':'@Session.SessionID'};

        $.ajax({
            url: "@Url.Action("SaveCommande", "Sw")",
            type: "Post",
            contentType: "application/json; charset=utf-8",
            dataType: "JSON",
            data: JSON.stringify(data),
            error: function (result) {
                console.log('erreur');
            },
            success: function (result)
            {
                console.log(result);
                document.location.href='@Url.Action("Index", "Home")';
            }
        });
    }

    function SeConnecter() {

        var matricule = $('#Matricule').val();
        var password = $('#Password').val();

        var data = { 'matricule': matricule, 'password': password, 'idSession': '@Session.SessionID' };

        if (matricule && password) {
            $.ajax({
                url: "@Url.Action("LoginUtilisateur", "Sw")",
                type: "Post",
                contentType: "application/json; charset=utf-8",
                dataType: "JSON",
                data: JSON.stringify(data),
                error: function (result) {
                    console.log('erreur');
                },
                success: function (result)
                {
                    if (result.error) {
                        console.log(error)
                    } else {
                        $("#ConnexionModal").modal("hide");
                    }

                }
            });
        }

    }

    $(document).ready(function () {

        $("#btnCommande").click(function () {

            if (@isConnected) {
                PasserCommande();
            } else {
                $("#ConnexionModal").modal("show");
            }
        });

        $("#btnConnexion").click(function () {

        });

    });
    </script>
}