@model IEnumerable<AfpEat.Models.PanierViewModel>

@{
    ViewBag.Title = "Panier";
    List<AfpEat.Models.MenuPanier> menuPaniers = ViewBag.menuPaniers;
    string isConnected = (Session["Utilisateur"] != null) ? "true" : "false";

}

<h2>Panier</h2>

    @if (Model != null && Model.Count() > 0)
    {
        foreach (var item in Model)
        {

            foreach (var menu in item.menuPaniers)
            {
                <p>@menu.Nom @menu.Prix @menu.Quantite</p>
            }
        }
    }


@section Scripts{
    <script type="text/javascript">

    function PasserCommande() {

        var data = { 'idSession':'@Session.SessionID'};

        $.ajax({
            url: "@Url.Action("SaveCommande", "Sw")",
            type: "Post",
            contentType: "application/json; charset=utf-8",
            dataType: "JSON",
            data: JSON.stringify(data),
            error: function (result) {
                console.log('erreur');
            },
            success: function (result)
            {
                console.log(result);
                document.location.href='@Url.Action("Index", "Home")';
            }
        });
    }

    function SeConnecter() {

        var matricule = $('#Matricule').val();
        var password = $('#Password').val();

        var data = { 'matricule': matricule, 'password': password, 'idSession': '@Session.SessionID' };

        if (matricule && password) {
            $.ajax({
                url: "@Url.Action("LoginUtilisateur", "Sw")",
                type: "Post",
                contentType: "application/json; charset=utf-8",
                dataType: "JSON",
                data: JSON.stringify(data),
                error: function (result) {
                    console.log('erreur');
                },
                success: function (result)
                {
                    if (result.error) {
                        console.log(error)
                    } else {
                        $("#ConnexionModal").modal("hide");
                    }

                }
            });
        }

    }

    $(document).ready(function () {

        $("#btnCommande").click(function () {

            if (@isConnected) {
                PasserCommande();
            } else {
                $("#ConnexionModal").modal("show");
            }
        });

        $("#btnConnexion").click(function () {

        });

    });
    </script>
}