@model IEnumerable<AfpEat.Models.ProduitPanier>

@{
    ViewBag.Title = "Panier";
}

<h2>Panier</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdProduit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prix)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantite)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Photo)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IdProduit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Prix)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantite)
        </td>
        <td>
            <img src="/Images/@item.Photo" alt="" />
        </td>
    </tr>
}

</table>

<button class="btn btn-outline-danger">Passer la commande</button>