@model AfpEat.Models.PanierModel

@{
    ViewBag.Title = "Panier";
    string isConnected = (Session["Utilisateur"] != null) ? "true" : "false";

}

<section id="Panier" class="container mt-5">


    <h2>Panier</h2>

    @if (Model != null && Model.MenuPaniers != null && Model.MenuPaniers.Count() > 0)
    {
        <ul>
            @foreach (var menuPanier in Model.MenuPaniers)
            {
                <li>
                    @menuPanier.Nom @menuPanier.Prix€ X @menuPanier.Quantite <img src="/Images/@menuPanier.Photo" width="150" height="150" alt="" />
                    <button data-idMenu="@menuPanier.IdMenu" class="btnSupprMenu btn btn-outline-danger"><i class="fas fa-times"></i></button>
                    <ul>
                        <!-- Affichage des produits selectionnés -->
                        @foreach (var produit in menuPanier.Produits)
                        {
                            <li class="produitMenu" data-idProduit="@produit.IdProduit">@produit.Nom</li>
                        }
                    </ul>
                </li>
            }
        </ul>
    }

    @if (Model != null && Model.ProduitPaniers != null && Model.ProduitPaniers.Count() > 0)
    {
        <ul>
            @foreach (var produit in Model.ProduitPaniers)
            {

                <li>
                    @produit.Nom @produit.Prix€ X @produit.Quantite <img src="/Images/@produit.Photo" width="150" height="150" alt="" />
                    <button data-idProduit="@produit.IdProduit" class="btnSupprProduit btn btn-outline-danger"><i class="fas fa-times"></i></button>
                </li>

            }
        </ul>
    }

    <button id="btnCommande" class="btn btn-outline-danger">Passer la commande</button>

    <div id="ConnexionModal" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="Matricule">Matricule</label>
                            <input type="text" class="form-control" id="Matricule">
                        </div>
                        <div class="form-group">
                            <label for="Password">Mot de passe</label>
                            <input type="password" class="form-control" id="Password">
                        </div>
                        <button id="btnConnexion" class="btn btn-primary">Envoyer</button>
                    </form>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts{
<script type="text/javascript">

function PasserCommande() {

        let data = { 'idSession':'@Session.SessionID'};

        $.ajax({
            url: "@Url.Action("SaveCommande", "Sw")",
            type: "Post",
            contentType: "application/json; charset=utf-8",
            dataType: "JSON",
            data: JSON.stringify(data),
            error: function (result) {
                console.log('erreur');
            },
            success: function (result)
            {
                if (result.statut) {
                    //Changer la redirection pour un récapitulatif de la commande
                    document.location.href = '@Url.Action("Index", "Home")';
                }
                else {
                    console.log(result.message);
                }
            }
        });
    }

function SeConnecter() {

        let matricule = $('#Matricule').val();
        let password = $('#Password').val();

        let data = { 'matricule': matricule, 'password': password, 'idSession': '@Session.SessionID' };

        if (matricule && password) {
            $.ajax({
                url: "@Url.Action("LoginUtilisateur", "Sw")",
                type: "Post",
                contentType: "application/json; charset=utf-8",
                dataType: "JSON",
                data: JSON.stringify(data),
                error: function (result) {
                    console.log('erreur');
                },
                success: function (result)
                {
                    if (result.error) {
                        console.log(error)
                    } else {
                        $("#ConnexionModal").modal("hide");
                    }

                }
            });
        }

    }

function RemoveProduit(idProduit) {

            let data = { 'idProduit': idProduit, 'idSession': '@Session.SessionID' };

            $.ajax({
                    url: "@Url.Action("RemoveProduit", "Sw")",
                    type: "Post",
                    contentType: "application/json; charset=utf-8",
                    dataType: "JSON",
                    data: JSON.stringify(data),
                    error: function (result) {
                        console.log('erreur')
                    },
                    success: function (result)
                    {
                        //Remplacer par une alert
                        console.log("Le produit a bien été supprimé");
                        console.log($(this));
                    }
                });
    }

function RemoveMenu(idMenu, arrayIdProduit) {
            let data = { 'idMenu': idMenu, 'idProduits': arrayIdProduit, 'idSession': '@Session.SessionID' };
            console.log(data);

            $.ajax({
                    url: "@Url.Action("RemoveMenu", "Sw")",
                    type: "Post",
                    contentType: "application/json; charset=utf-8",
                    dataType: "JSON",
                    data: JSON.stringify(data),
                    error: function (result) {
                        console.log('erreur')
                    },
                    success: function (result)
                    {
                        //Remplacer par une alert
                        console.log("Le menu à bien été supprimé.");
                    }
            });
    }

$(document).ready(function () {

        //Suppresion d'un menu
        $(".btnSupprMenu").click(function () {
            let idMenu = $(this).attr('data-idMenu');
            let idProduits = [];

        });

        //Suppression d'un produit
        $(".btnSupprProduit").click(function () {
            let produit = $(this).attr('data-idProduit');
            RemoveProduit(produit);
        });

        $("#btnCommande").click(function () {

            if (@isConnected) {
                PasserCommande();
            } else {
                $("#ConnexionModal").modal("show");
            }
        });

        $("#btnConnexion").click(function () {

        });

    });
    </script>
}