@model AfpEat.Models.PanierViewModel

@{
    ViewBag.Title = "Panier";
    string isConnected = (Session["Utilisateur"] != null) ? "true" : "false";

}

<h2>Panier</h2>

<ul>
    @foreach (var menu in Model.menuPaniers.ToList())
    {
        //Parcours des menus

        <li>@menu.Nom @menu.Prix€ X @menu.Quantite <img src="/Images/@menu.Photo" width="150" height="150" alt="" /> </li>


    }
</ul>

<ul>
    @foreach (var produit in Model.produitPaniers.ToList())
    {
        //Parcours des menus

        <li>@produit.Nom @produit.Prix€ X @produit.Quantite <img src="/Images/@produit.Photo" width="150" height="150" alt="" /> </li>


    }
</ul>

@section Scripts{
    <script type="text/javascript">

    function PasserCommande() {

        var data = { 'idSession':'@Session.SessionID'};

        $.ajax({
            url: "@Url.Action("SaveCommande", "Sw")",
            type: "Post",
            contentType: "application/json; charset=utf-8",
            dataType: "JSON",
            data: JSON.stringify(data),
            error: function (result) {
                console.log('erreur');
            },
            success: function (result)
            {
                console.log(result);
                document.location.href='@Url.Action("Index", "Home")';
            }
        });
    }

    function SeConnecter() {

        var matricule = $('#Matricule').val();
        var password = $('#Password').val();

        var data = { 'matricule': matricule, 'password': password, 'idSession': '@Session.SessionID' };

        if (matricule && password) {
            $.ajax({
                url: "@Url.Action("LoginUtilisateur", "Sw")",
                type: "Post",
                contentType: "application/json; charset=utf-8",
                dataType: "JSON",
                data: JSON.stringify(data),
                error: function (result) {
                    console.log('erreur');
                },
                success: function (result)
                {
                    if (result.error) {
                        console.log(error)
                    } else {
                        $("#ConnexionModal").modal("hide");
                    }

                }
            });
        }

    }

    $(document).ready(function () {

        $("#btnCommande").click(function () {

            if (@isConnected) {
                PasserCommande();
            } else {
                $("#ConnexionModal").modal("show");
            }
        });

        $("#btnConnexion").click(function () {

        });

    });
    </script>
}