@model AfpEat.Models.Produit

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Produit</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Prix)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prix)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantite)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantite)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Statut)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Statut)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdProduit }) |
    @Html.ActionLink("Back to List", "Index")
</p>

<div class="row">
    <div class="col-12">
        <button id="btnAddProduit" class="btn btn-primary">Ajouter au panier</button>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="AddPanier" tabindex="-1" role="dialog" aria-labelledby="AddPanierModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ajout</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="infosSalle">
                <p>Le produit à bien été ajouter</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {

            var data = { 'idProduit':'@Model.IdProduit', 'idSession':'@Session.SessionID'};
            console.log(data);

            $("#btnAddProduit").click(function(){
                $.ajax({
                    url: "@Url.Action("AddProduit", "Sw")",
                    type: "Post",
                    contentType: "application/json; charset=utf-8",
                    dataType: "JSON",
                    data: JSON.stringify(data),
                    error: function (result) {
                        console.log('erreur')
                    },
                    success: function (result)
                    {
                        console.log("ça marche");
                        $('#AddPanier').modal('show');
                    }
                });
            });
        });
    </script>
}