@model AfpEat.Models.RestaurantsDetailsModel

@{
    ViewBag.Title = "Details";
}
<!-- DetailsRestaurants -->
<section id="DetailsRestaurant" class="container mt-3">
    <!-- Carousel -->
    <div id="carouselDetails" class="carousel slide carousel-fade" data-ride="carousel">
        <div class="carousel-inner">
            @for (var i = 0; i < Model.Restaurant.Photos.Count(); i++)
            {

                <div class="carousel-item @(i == 0 ? "active" : "") ">
                    @*<img src="/Images/@Model.Photos.ElementAt(i).Nom" class="d-block img-fluid" width="400" height="400" alt="...">*@
                </div>

            }
        </div>
        <a class="carousel-control-prev" href="#carouselDetails" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Précedent</span>
        </a>
        <a class="carousel-control-next" href="#carouselDetails" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Suivant</span>
        </a>
    </div>
    <hr />
    <!-- Details -->
    <div class="row" id="Details">
        <div class="col-12">
            <h2>@Model.Restaurant.Nom</h2>
            <p>@Model.Restaurant.Description)</p>
        </div>
    </div>
    <!-- Commande -->
    <div id="Commande" class="row">
        <div class="col-12">

            @{
                int p = 1;
                string categorieProduit = "CategorieProduit";
                string collapseProduit = "CollapseProduit";

            }

            @foreach (var idCategorie in Model.Restaurant.ProduitCategories.GroupBy(x => x.IdCategorie))
            {
                var categorie = Model.Restaurant.ProduitCategories.First(x=> x.IdCategorie == idCategorie.Key);
                <h2>@categorie.Categorie.Nom</h2>

                foreach (var produit in Model.Restaurant.ProduitCategories)
                {

                    if (produit.IdCategorie == idCategorie.Key)
                    {
                        <p>@produit.Produit.Nom</p>
                    }
                }

            }


            <!-- Faire l'affichage des menus -->
            <!-- Affichage des Categories de produits -->

            @foreach (var produit in Model.Restaurant.ProduitCategories)
            {
                string idCategorieProduit = categorieProduit + p;
                string idCollapseProduit = collapseProduit + p;

                <!-- Categorie -->
                <div class="card">
                    <!-- Nom de la categorie -->
                    <div class="card-header" id="@idCategorieProduit">
                        <h2 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#@idCollapseProduit" aria-expanded="true" aria-controls="@idCollapseProduit">
                                @produit.Categorie.Nom
                            </button>
                        </h2>
                    </div>
                    <!-- Contenu -->
                    <div id="@idCollapseProduit" class="collapse show" aria-labelledby="@idCategorieProduit" data-parent="#accordionCategorie">
                        <div class="card-body">
                            <!-- Afficher une liste des produits -->
                            @produit.Produit.Nom
                        </div>
                    </div>
                </div>

                p++;
            }
        </div>
    </div>
</section>


