@model AfpEat.Models.RestaurantsDetailsModel

@{
    ViewBag.Title = "Details";
}
<!-- DetailsRestaurants -->
<section id="DetailsRestaurant" class="container mt-3">
    <!-- Carousel -->
    <div id="carouselDetails" class="carousel slide carousel-fade" data-ride="carousel">
        <div class="carousel-inner">
            @for (var i = 0; i < Model.Restaurant.Photos.Count(); i++)
            {

                <div class="carousel-item @(i == 0 ? "active" : "") ">
                    @*<img src="/Images/@Model.Restaurant.Photos.ElementAt(i).Nom" class="d-block img-fluid" width="400" height="400" alt="...">*@
                </div>

            }
        </div>
        <a class="carousel-control-prev" href="#carouselDetails" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Précedent</span>
        </a>
        <a class="carousel-control-next" href="#carouselDetails" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Suivant</span>
        </a>
    </div>
    <hr />
    <!-- Details -->
    <div class="row" id="Details">
        <div class="col-12">
            <h2>@Model.Restaurant.Nom</h2>
            <p>@Model.Restaurant.Description)</p>
        </div>
    </div>
    <!-- Commande -->
    <div id="Commande" class="row">
        <div class="col-12">

            @foreach (var categorie in Model.RestaurantProduits)
            {
                string idCategorieProduit = "Categorie" + categorie.NomCategorie;
                string idCollapseProduit = "CollapseProduit" + categorie.NomCategorie;

                <!-- Categorie -->
                <div class="card">
                    <!-- Nom de la categorie -->
                    <div class="card-header" id="accordionCategorie">
                        <h2 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#@idCollapseProduit" aria-expanded="true" aria-controls="@idCollapseProduit">
                                @categorie.NomCategorie
                            </button>
                        </h2>
                    </div>
                    <!-- Contenu -->
                    <div id="@idCollapseProduit" class="collapse show" aria-labelledby="idCategorieProduit" data-parent="#accordionCategorie">
                        <div class="card-body">
                            <!-- Afficher une liste des produits -->
                            <ul class="list-group-flush">
                                @foreach (var produit in categorie.Produits)
                                {
                                    <li class="list-group-item">
                                        @produit.Quantite @produit.Nom @produit.Prix€
                                        <button type="button" class="btnPlus btn btn-outline-success"><i class="fas fa-plus"></i></button>
                                        <button type="button" class="btnMoins btn btn-outline-danger"><i class="fas fa-minus"></i></button>
                                        <span class="quantite">0</span>
                                    </li>
                                }
                            </ul>

                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>

@section Scripts{
    <script type="text/javascript">

        function EditCommande() {
            $.ajax({
                    url: "@Url.Action("AddProduit", "Sw")",
                    type: "Post",
                    contentType: "application/json; charset=utf-8",
                    dataType: "JSON",
                    data: JSON.stringify(data),
                    error: function (result) {
                        console.log('erreur')
                    },
                    success: function (result)
                    {
                        console.log("ça marche");
                        $('#AddPanier').modal('show');
                    }
                });
        }

        $(document).ready(function () {

            $(".list-group-item .btnPlus").click(function () {
                 
                var quantite = $(this).nextUntil(2, '.quantite').text();
                quantite++;

                $(this).nextUntil(2, '.quantite').text(quantite);
                //Appel ajax pour mettre a jour la quantité  dans la commande a faire

            });

            $(".list-group-item .btnMoins").click(function () {
                 
                var quantite = $(this).next('.quantite').text();
                quantite--;

                if (quantite <= 0) {
                    $(this).next('.quantite').text(0);
                }
                else {
                    $(this).next('.quantite').text(quantite);
                }
                //Appel ajax pour mettre a jour la quantité  dans la commande a faire
            });

                //$.ajax({
                //    url: "@Url.Action("AddProduit", "Sw")",
                //    type: "Post",
                //    contentType: "application/json; charset=utf-8",
                //    dataType: "JSON",
                //    data: JSON.stringify(data),
                //    error: function (result) {
                //        console.log('erreur')
                //    },
                //    success: function (result)
                //    {
                //        console.log("ça marche");
                //        $('#AddPanier').modal('show');
                //    }
                //});
        });
    </script>
}


